@import 'partials/_base';
@import 'partials/_reset';
@import 'partials/_forms';
@import 'partials/_buttons';


* {
  box-sizing: border-box;
}

header {
  padding: 15px;
  border-bottom: 3px solid #333;
}

.logo {
  img {
    display: block;
    width: 90px;
  }
}

.list-view {
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
}

.bird-list {
  margin: 0 -15px 0 -15px;
  background-color: #f0f0f0;
  border-top: 1px solid #c3c3c3;
}

.bird-form {
  padding-top: 30px;
}

.bird-item {
  padding: 15px;
  border-bottom: 1px solid #c3c3c3;
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
}

body[data-store-state="empty"] {
  .bird-list {
    display: none;
  }
  .button--orb {
    display: none;
  }
}

.photo-preview-container {
  display: none;
}

body[data-photo-preview-state="not-empty"] {
  .photo-preview-container {
    display: block;
  }
}

.map {
  height: calc(100vh - 112.5px);
}